<div class="notification-container">
    <button class="notification-btn" (click)="show($event)" >Notification</button>
    <div class="notification-frame">
        <div class="notification-heading">Notification</div>
        <ul class="notification-ul"> 
            <li class="notification-item">
                <div class="notification-content">
                    <span class="lets-icons--order"></span>
                    <span class="content">Notification aksjd kajs askaljaj diawrafna li oifoakfsahf oo asdkaja</span>
                </div>
                <span class="ic--baseline-minus remove"></span>
            </li>
            <li class="notification-item">
                <div class="notification-content">
                    <span class="lets-icons--order"></span>
                    <span class="content">Notification aksjd kajs askaljaj diawrafna li as fg oo asdkaja</span>
                </div>
                <span class="ic--baseline-minus remove"></span>
            </li>
            <li class="notification-item">
                <div class="notification-content">
                    <span class="lets-icons--order"></span>
                    <span class="content">Notification aksjd kajs askaljaj diawrafna li as fg oo asdkaja</span>
                </div>
                <span class="ic--baseline-minus remove"></span>
            </li>
            <li class="notification-item">
                <div class="notification-content">
                    <span class="lets-icons--order"></span>
                    <span class="content">Notification aksjd kajs askaljaj diawrafna li as fg oo asdkaja</span>
                </div>
                <span class="ic--baseline-minus remove"></span>
            </li>
            <li class="notification-item">
                <div class="notification-content">
                    <span class="lets-icons--order"></span>
                    <span class="content">Notification aksjd kajs askaljaj diawrafna li as fg oo asdkaja</span>
                </div>
                <span class="ic--baseline-minus remove"></span>
            </li>
            <li class="notification-item">
                <div class="notification-content">
                    <span class="lets-icons--order"></span>
                    <span class="content">Notification aksjd kajs askaljaj diawrafna li as fg oo asdkaja</span>
                </div>
                <span class="ic--baseline-minus remove"></span>
            </li>
            <li class="notification-item">
                <div class="notification-content">
                    <span class="lets-icons--order"></span>
                    <span class="content">Notification aksjd kajs askaljaj diawrafna li as fg oo asdkaja</span>
                </div>
                <span class="ic--baseline-minus remove"></span>
            </li>
            <li class="notification-item">
                <div class="notification-content">
                    <span class="lets-icons--order"></span>
                    <span class="content">Notification aksjd kajs askaljaj diawrafna li as fg oo asdkaja</span>
                </div>
                <span class="ic--baseline-minus remove"></span>
            </li>
        </ul>
        <div class="close">
            <span class="material-symbols--close" (click)="hide($event)"></span>
        </div>
    </div>
</div>
