<div class="notification-container">
    <button class="notification-btn" (click)="show($event)" >Notification ({{notificationCount}})</button>
    <div class="notification-frame">
        <div class="notification-heading">Notification</div>
        <ul class="notification-ul"> 
            @for (notification of notifications; track $index) {
                <li routerLink="{{notification.actionLink}}" class="notification-item">
                    <a  class="notification-content">
                        <span class="lets-icons--order"></span>
                        <span class="content">{{ notification.message }}</span>
                    </a>
                    <span class="ic--baseline-minus remove" (click)="remove($event,notification._id)" ></span>
                </li>
            }
        </ul>
        <div class="close">
            <span class="material-symbols--close" (click)="hide($event)"></span>
        </div>
    </div>
</div>
