@import url(./../../../icon.component.scss);
$background-color: #0d0d0d;

.iconamoon--search-light{
    color: white;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;

    .title{
        text-align: center;
        font-size: xx-large;
        font-weight: bold;
        background-image: linear-gradient(to right,#1509FF 20%,#F813F8 80%);
        background-clip: text;
        color: transparent;
    }
}