<div class="container">
  <div class="header">
    <p class="title">Add Products</p>
  </div>

  <div class="body">
    <form #form="ngForm">
      <div class="general-info">

        <div class="form-group">
          <label for="exampleInputEmail1">Name Product</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <app-select-category></app-select-category>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description Product</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="classify-product">Classify Product</label>
          <div class="classify-product" id="classify-product-group">
            @for (spec of specList; track $index) {
              <div class="product-spec">
                <span class="material-symbols--close spec-remove" (click)="removeSpec(spec.specName)" ></span>
                <input type="text" class="name wrap" (keydown.enter)="saveSpecName($event,spec.specName)" value="{{spec.specName}}" name="" id="">
                @for (value of spec.specValues; track $index) {
                  <label class="label-spec wrap">
                    <p>{{value}}</p>
                    <span class="material-symbols--close" (click)="removeSpecValue(spec.specName,value)" ></span>
                  </label>
                }
                <input type="text" class="value wrap hide" (keydown.enter)="saveSpec($event)" name="" placeholder="Value">
                <span class="basil--add-outline add-spec-value show" (click)="showSpecValue($event)" ></span>
              </div>
            }
            <div class="product-spec-add" (click)="addSpec($event)">
              <span class="basil--add-outline"></span>
            </div>
          </div>
        </div>
        
        <div class="end-group">
          <div class="price-product"></div>
          <div class="public-product"></div>
        </div>
      </div>

      <div class="right">
        <div class="images-info">

        </div>
        <div class="inventory-info">

        </div>
      </div>
    </form>


  </div>
</div>