
$background-color: #0d0d0d;

.iconamoon--search-light{
    color: white;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .title{
        text-align: center;
        font-size: xx-large;
        font-weight: bold;
        background-image: linear-gradient(to right,#1509FF 20%,#F813F8 80%);
        background-clip: text;
        color: transparent;
    }

    .search-bar{
        width: 35%;
        height: 3rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #E4D016;
        border-radius: 0.4rem;
        margin-bottom: 2%;
        
    
        span{
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.2rem;
            color: #E4D016;
        }
    
        input{
            width: 90%;
            background-color: $background-color;
            border: none;
            -webkit-text-fill-color: white;
            -webkit-box-shadow: 0 0 0px 1000px #000 inset;
            outline-color: red;
        }
    
        input:focus{
            border: none;
            outline: none;
            border-bottom: 1px #696864 solid;
        }
    }
}

.body{
    width: 100%;
    min-height: 65vh;
    margin-bottom: 1rem;

    table{
        width: 100%;

        thead{
            box-sizing: border-box;
            background-color: rgba(#FFFFFF, 0.1);
            th{
                padding-block: 0.75rem;
                padding-inline: 1rem;
                text-align: left;
                background-color: inherit;
                color: #fff;
                font-size: 1.1rem;
                font-weight: 600;

                &:first-child{
                    border-top-left-radius: 0.5rem;
                    border-bottom-left-radius: 0.5rem;
                }
                &:last-child{
                    border-top-right-radius: 0.5rem;
                    border-bottom-right-radius: 0.5rem;
                }
            }
        }

        tbody{
            td{
                position: relative;
                    padding-inline: 1rem;
                    padding-block: 0.75rem;
                    border-bottom: 1px solid #1C4E64;
                    font-weight: 520;
                    max-width: 10rem;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.5rem;
                    z-index: auto;

                input[type="checkbox"]{
                    margin-left: 0.8rem;
                    width: 1rem;
                    height: 1rem;
                }

                &.id{
                    font-weight: 550;
                    font-size: 1.1rem;
                }

                &.price{
                    font-weight: 550;
                    font-size: 1.1rem;
                    color: rgb(255, 77, 0);
                }

                &.product-name{
                    font-weight: 520;
                    font-size: 1rem;
                    color: rgb(0, 224, 224);
                }
            }

            .inventory-field{
                color: greenyellow;
            }

            .product-show{
                display: flex;

                

                img{
                    width: 2.5rem;
                    height: 2.5rem;
                    margin-right: 0.5rem;
                }

                p{
                    width: 12rem;
                    line-height: 1.3rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            .action{
                border: none;
                border-radius: 0.6rem;
                margin-right: 0.3rem;
            }

            a{
                text-decoration: none;
                color: black;
                padding-inline: 6px;
                padding-block: 4.4px;
            }
        
            .edit{
                background-color: rgb(223, 223, 62);
            }
        
            .delete{
                background-color: rgb(244, 115, 115);
            }

            .detail{
                background-color: rgb(237, 237, 237);
            }
        }
    }
}

.pagination{
    margin-bottom: 1rem;
    app-pagination{
        width: 100%;
    }
}

