
<div class="header">
    <p class="title">All Products</p>
    <div class="search-bar">
        <span class="iconamoon--search-light"></span>
        <input id="search-input" type="text" (keydown.enter)="loadProducts()" [(ngModel)]="searchString" name="searchString" placeholder="Search Here!">
    </div>
<div class="body">
    <table class="product-table">
        <thead class=""> 
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Product</th>
                <th scope="col">Public</th>
                <th scope="col">Price</th>
                <th scope="col">Inventory</th>
                <th scope="col">Manipulation</th>
            </tr>
        </thead>
        <tbody>
            @for (product of products; track product.productId) {
            <tr>
                <td class="id">#{{ product.productId }}</td>
                <td class="product-name">
                    <div class="product-show">
                        <img src="{{ product.avtImgUrl }}" alt="">
                        <p>{{ product.name }}</p>
                    </div>
                </td>
                <td>
                    @if (product.isPublic){
                    <input (click)="switchStatus(product.productId,product.isPublic)" type="checkbox" checked name="" id="">
                    } @else {
                    <input (click)="switchStatus(product.productId,product.isPublic)" type="checkbox" name="" id="">
                    }
                </td>
                <td class="price">${{ product.price }}</td>
                <td class="inventory-field">{{ product.inventory.availableQuantity }}</td>
                <td>
                    <a routerLink="/shop-owner/{{shopId}}/products/{{product.productId}}" class="action detail">
                        <span class="icon-park-outline--view-grid-detail"></span>
                    </a>
                    <a routerLink="/shop-owner/{{shopId}}/products/{{product.productId}}/update" class="action edit">
                        <span class="flowbite--edit-outline"></span>
                    </a>
                    <button (click)="deleteProduct(product.productId)" class="action delete">
                        <span class="weui--delete-outlined"></span>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="pagination">
    <app-pagination [pageIndex]="pageIndex" [limit]="limit" [totalItem]="totalItem"
        (page)="loadPage($event)"></app-pagination>
</div>