<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/82fa3fd0-a8f8-4f7c-85e8-52514cb75989/resourceGroups/web/providers/Microsoft.ContainerRegistry/registries/eplatformapiazure</ResourceId>
    <ResourceName>eplatformapiazure</ResourceName>
    <ResourceGroup>web</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://eplatformapiazure.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>590af5b6-0180-4aa1-bcb6-d475a87330b1</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>