<app-auth-header title="{{title}}" ></app-auth-header>
<div class="content">
  <div class="row" >
    <div class="col-6 left">
      @if (extraErr){
        <p class="extra-err">{{extraErr}}</p>
      }
      <form #form="ngForm">
        <div class="container mt-3">
          <input class="input-form" type="password" #oldpassword="ngModel" minlength="3" required [(ngModel)]="resetPasswordModel.oldPassword" name="oldpassword" placeholder="Old Password" >
          @if (oldpassword.invalid && oldpassword.touched) {
            @if (oldpassword.errors?.['required']) {
              <p class="extra-err">The email is required</p>
            }
            @if (oldpassword.errors?.['minlength']){
              <p class="extra-err">Min Length is 3</p>
            }
          }
          <input class="input-form" type="password" #newPassword="ngModel" required minlength="3" [(ngModel)]="resetPasswordModel.newPassword" name="newPassword" placeholder="New Password" >
          @if(newPassword.invalid && newPassword.touched){
            @if(newPassword.errors?.['required']){
              <p class="extra-err">The password is required</p>
            }
            @if (newPassword.errors?.['minlength']){
              <p class="extra-err">Min Length is 3</p>
            }
          }

          <input class="input-form" type="password" #confirmNewPassword="ngModel" required minlength="3" [(ngModel)]="resetPasswordModel.confirmNewPassword" name="confirmNewPassword" placeholder="Confirm New Password" >
          @if(confirmNewPassword.invalid && confirmNewPassword.touched){
            @if(confirmNewPassword.errors?.['required']){
              <p class="extra-err">The password is required</p>
            }
            @if (confirmNewPassword.errors?.['minlength']){
              <p class="extra-err">Min Length is 3</p>
            }
          }          
          <div class="format-btn">
            @if (!form.valid){
              <button class="submit-btn disabled" type="submit" (click)="resetPassword()"  [disabled]="!form.valid" >Reset</button>
            } @else {
              <button class="submit-btn" (click)="resetPassword()" type="submit">Reset</button>
            }
          </div>
        </div>
      </form>
    </div>
    <div class="col-5 right">
      <div class="welcome">
        <p class="welcome-title">Welcome To Reset Password!</p>
        <p class="welcome-con" >We expect that you will have a best experience while using our platform &lt;3</p>
      </div>
    </div>
  </div>
</div>
