<div class="container-fluid" >
    <div class="category-list mb-5">
        @if (start > 0) {
            <div class="prev controller" (click)="categoryChange(true)" >
                <span>&lt;</span>
            </div>
        }

        <div class="categories">
            @for (item of categories.slice(start,start+showCount); track $index) {
                <div class="item">
                    <img src="{{item.Img}}" alt="Clothes">
                    <p>{{item.Name}}</p>
                </div>
            }
        </div>

        @if (start + showCount < categories.length) {
            <div class="next controller" (click)="categoryChange(false)" >
                <span>&gt;</span>
            </div>
        }
    </div>
    <div class="hot-product mb-5">
        <div class="hot-product-title">
            <p>Hot Products</p>
            <span class="mdi--fire"></span>
        </div>
        <div class="hot-products-list">
            <div class="prev controller" (click)="categoryChange(true)" >
                <span>&lt;</span>
            </div>
            <div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div>
            <div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div><div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div><div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div><div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div>
            <div class="next controller" (click)="categoryChange(false)" >
                <span>&gt;</span>
            </div>
        </div>
    </div>
    <div class="today-suggest mb-5">
        <div class="today-suggest-product-title">
            <p>Today Suggest</p>
            <span class="material-symbols--today"></span>
        </div>
        <div class="today-suggest-products-list">
            <div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div>
            <div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div><div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div><div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div><div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div>
            <div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div>
            <div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div><div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div><div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div><div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div><div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div>
            <div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div><div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div><div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div><div class="product">
                <img src="/assets/img/shopping_logo.jpg" alt="">
                <div class="product-info">
                    <p class="product-name">the girl t-shirt which use for girl...</p>
                    <div class="product-price-sold">
                        <p class="product-price">$10</p>
                        <p class="product-sold">sold 12,2k</p>
                    </div>
                </div>
            </div>
        </div>
        @if (tokenSVC.isAuthenicated()){
            <button class="btn btn-outline-info today-suggestion-btn" >More Suggestion</button>
        }   @else {
            <button class="btn btn-outline-primary today-suggestion-btn" >Login To See More</button>
        }
    </div>
</div>