<div class="container-fluid" >
    <div class="category-list mb-5">
        @if (categories.start > 0) {
            <div class="prev controller" (click)="categoryChange(true)" >
                <span>&lt;</span>
            </div>
        }

        <div class="categories">
            @for (item of categories.categoiesInHome.slice(categories.start,categories.start + categories.showCount); track $index) {
                <a [routerLink]="['/search']" [queryParams]="{CategoryId: item.categoryId, Name: item.name}" class="item">
                    <img src="{{item.imgUrl}}" alt="Clothes">
                    <p>{{item.name}}</p>
                </a>
            }
        </div>

        @if (categories.start + categories.showCount < categories.categoiesInHome.length) {
            <div class="next controller" (click)="categoryChange(false)" >
                <span>&gt;</span>
            </div>
        }

    </div>
    <div class="hot-product mb-5">
        <div class="hot-product-title">
            <span class="mdi--fire"></span>
            <p>Hot Products</p>
        </div>
        <div class="hot-products-list">
            @if (productHandler.start > 0) {
                <div class="prev controller" (click)="productChange(true)" >
                    <span>&lt;</span>
                </div>
            }
            @for (item of productHandler.products.slice(productHandler.start, productHandler.start + productHandler.showCount); track $index) {
                <a [routerLink]="['/products', item.slug]" [queryParams]="{ product_id: item.productId }" class="product">
                    <img src="{{ item.avtImgUrl }}" alt="">
                    <div class="product-info">
                        <p class="product-name">{{ item.name }}</p>
                        <div class="product-price-sold">
                            <p class="product-price">${{ item.price }}</p>
                            <p class="product-sold">sold {{ item.soldQuantity }}</p>
                        </div>
                    </div>
                </a>
            }
            @if (productHandler.start + productHandler.showCount < productHandler.products.length) {
                <div class="next controller" (click)="productChange(false)" >
                    <span>&gt;</span>
                </div>
            }
        </div>
    </div>
    <div class="today-suggest mb-5">
        <div class="today-suggest-product-title">
            <span class="material-symbols--today"></span>
            <p>Today Suggest</p>
        </div>
        <div class="today-suggest-products-list">
            @for (item of productTodaySuggestions; track $index) {
                <a [routerLink]="['/products', item.slug]" [queryParams]="{ product_id: item.productId }" class="product">
                    <img src="{{item.avtImgUrl}}" alt="">
                    <div class="product-info">
                        <p class="product-name">{{item.name}}</p>
                        <div class="product-price-sold">
                            <p class="product-price">${{ item.price }}</p>
                            <p class="product-sold">sold {{item.soldQuantity}}</p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <!-- need to fix -->
        @if (isAuthenticatedState) {
            <button routerLink="/search" class="btn btn-outline-info today-suggestion-btn" >More Suggestion</button>
        }   @else {
            <a routerLink="/auth/login" class="btn btn-outline-primary today-suggestion-btn">Sign In To See More</a>
        }
    </div>
</div>