<div class="container" >
    <div class="categories">
        @for (item of productDetail.categories; track $index) {
            @if ($index < productDetail.categories.length - 1){
                <a class="category">{{item.name}} >> </a>
            } @else {
                <a class="category">{{item.name}}</a>
            }
        }
    </div>
    <div class="product-info">
        <div class="images">
            <div class="main-image">
                <img id="main-image" src="{{images[currentImageIndex]}}" alt="">
            </div>
            <div class="sub-images">
                @if (images.length > 4){
                    <div class="img-controller prev" (click)="prevImage()" >
                        <span class="grommet-icons--previous"></span>
                    </div>
    
                    <div class="img-controller next">
                        <span class="grommet-icons--next" (click)="nextImage()"></span>
                    </div>
                }
                

                @for (imgIdx of imagesIndex; track $index) {
                    <div class="sub-image">
                        <img src="{{images[imgIdx]}}" (mouseenter)="hoverImage(imgIdx)" alt="">
                    </div>
                }
            </div>
        </div>
        <div class="detail-info">
            <p class="name">{{ productDetail.name }}</p>
            <div class="shop-info">
                <div class="shop">
                    <img src="{{ productDetail.logoUrl }}" alt="">
                    <p>{{ productDetail.shopName }}</p>
                </div>
                <p class="sold">{{ productDetail.sold }} sold</p>
            </div>
            <div class="price">
                <p>{{ productDetail.price }}$</p>
            </div>
            <div class="classify">
                <p id="classify-title" class="title">Classify</p>
                @for (specAttribute of productDetail.specAttributes; track $index) {
                    @if (specAttribute.isPrimary){
                        <div class="classify-block">
                            <div class="spec-name">
                                <p>{{ specAttribute.specName }}</p>
                            </div>
                            <div class="spec-values" id="spec-primary-value">
                                @for (item of specAttribute.specItems; track $index) {
                                        <div class="spec-value" (click)="chooseSpecValue($event, item.specValue,true,item.specImageUrl)">
                                            <img src="{{item.specImageUrl}}" alt="">
                                            <p>{{item.specValue}}</p>
                                        </div>
                                }
                            </div>
                        </div>
                    } @else {
                        <div class="classify-block">
                            <div class="spec-name">
                                <p>{{ specAttribute.specName }}</p>
                            </div>
                            <div class="spec-values">
                                @for (item of specAttribute.specItems; track $index) {
                                        <div class="spec-value" (click)="chooseSpecValue($event,item.specValue, false)">
                                            <p>{{item.specValue}}</p>
                                        </div>
                                }
                            </div>
                        </div>
                    }
                    
                }
            </div>
            <div class="quantity">
                <p class="quantity-title" >Quantity: </p>
                <div class="chosen-quantity">
                    <button class="minus chosen-controller" (click)="minusQuantity()">
                        <span class="ic--baseline-minus"></span>
                    </button>
                    <input class="quantity-number" min="1" type="number" [(ngModel)]="addToCartModel.quantity" name="quantity" >
                    <button class="plus chosen-controller" (click)="plusQuantity()">
                        <span class="ic--baseline-plus"></span>
                    </button>
                </div>
                <p class="available-inventory">{{availabel}} products is available</p>
            </div>
            @if (addToCartModel.quantity > availabel){
                <p class="err text-danger mt-3 hide">Out of inventory of this product</p>
            }
            @if (addToCartModel.quantity < 1){
                <p class="err text-danger mt-3 hide">Quantity must be greater than 0</p>
            }

            <div class="submit">
                <button class="add-to-cart" (click)="addToCart()">
                    <span class="mdi--cart-outline"></span>
                    <div class="wrapper">
                        <p>Add To Cart</p>                        
                    </div>
                </button>
                <button class="buy-now" (click)="buyNow()">
                    <span class="icon-park-outline--buy"></span>
                    <div class="wrapper">
                        <p>Buy Now</p>                        
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="product-description">
        <p class="title">Description</p>
        <textarea class="description" disabled >{{ productDetail.description }}</textarea>
    </div>
</div>