<div class="order-detail-container">
    <div class="heading">
        <div routerLink=".." class="back" >
            <span class="lets-icons--back"></span>
        </div>
        <div class="order-label">
            <div class="order-info">
                <div class="order-id">Order ID: #123</div>
                <div class="label preparing">Preparing</div>
            </div>
            <div class="create-at">January 1, 2025</div>
        </div>
        
    </div>
    <div class="customer-information">
        <div class="customer">
            <h4 class="head">Customer</h4>
            <ul>
                <li class="attribute customer-info">
                    <span class="material-symbols--person-outline-rounded"></span>
                    <span class="text">John Doe</span>
                </li>
                <li class="attribute customer-info">
                    <span class="lets-icons--order"></span>
                    <span class="text">Order</span>
                </li>
                <li class="attribute customer-info">
                    <span class="mdi--gmail"></span>
                    <span class="text">Email</span>
                </li>
                <li class="attribute customer-info">
                    <span class="ic--outline-phone"></span>
                    <span class="text">034787543</span>
                </li>
            </ul>
        </div>
        <div class="shipping-info">
            <h4 class="head">Shipping Information</h4>
            <ul>
                <div class="attribute shipping-info">
                    <span class="material-symbols--person-outline-rounded"></span>
                    <span class="text">John Doe</span>
                </div>
                <div class="attribute shipping-info">
                    <span class="entypo--address"></span>
                    <span class="text">to hieu, da nang</span>
                </div>
                <div class="attribute shipping-info">
                    <span class="ic--outline-phone"></span>
                    <span class="text">034787543</span>
                </div>
            </ul>
        </div>
    </div>
    <div class="product">
        <div class="summary">
            <h4 class="head">Summary</h4>
            <div class="summary-item">
                <span class="title">Subtotal</span>
                <span>2 items</span>
                <span class="price">$1.00</span>
            </div>
            <div class="summary-item">
                <span class="title">Shipping Cost</span>
                <span class="price">$1.00</span>
            </div>
            <div class="summary-item">
                <span class="title">Total</span>
                <span class="price">$1.00</span>
            </div>
        </div>
        <div class="order-items-container">
            <h4 class="head">Order Items</h4>
            <div class="order-items">
                <div class="order-item">
                    <div class="order-info">
                        <img src="../../../../../../assets/img/congratulation.webp" alt="Product Image">
                        <div class="order-detail">
                            <span class="product-name">Product Name</span>
                            <span class="product-quantity">Quantity: 2</span>
                            <span class="cost">Price: $50</span>
                        </div>   
                    </div>
                    <div class="total-cost">Total Cost: <span>$123</span></div>
                </div>
                <div class="order-item">
                    <div class="order-info">
                        <img src="../../../../../../assets/img/congratulation.webp" alt="Product Image">
                        <div class="order-detail">
                            <span class="product-name">Product Name</span>
                            <span class="product-quantity">Quantity: 2</span>
                            <span class="cost">Price: $50</span>
                        </div>   
                    </div>
                    <div class="total-cost">Total Cost: <span>$123</span></div>
                </div>
            </div>
            
        </div>
    </div>
</div>
