<div class="order-detail-container">
    <div class="heading">
        <div routerLink=".." (click)="navigateBackOldStatus()" class="back" >
            <span class="lets-icons--back"></span>
        </div>
        <div class="order-label">
            <div class="order-info">
                <div class="order-id">Order ID: #{{order.orderId}}</div>
                <div class="label {{order.orderStatus.toLocaleLowerCase()}}">{{order.orderStatus}}</div>
            </div>
            <div class="create-at">{{order.createAt | date:'MMMM dd, yyyy'}}</div>
        </div>
        
    </div>
    <div class="customer-information">
        <div class="customer">
            <h4 class="head">Customer</h4>
            <ul>
                <li class="attribute customer-info">
                    <span class="material-symbols--person-outline-rounded"></span>
                    <span class="text">{{order.accountName}}</span>
                </li>
                <li class="attribute customer-info">
                    <span class="lets-icons--order"></span>
                    <span class="text">{{order.orderNums}} Order</span>
                </li>
                <li class="attribute customer-info">
                    <span class="mdi--gmail"></span>
                    <span class="text">{{order.email}}</span>
                </li>
                <li class="attribute customer-info">
                    <span class="ic--outline-phone"></span>
                    <span class="text">{{order.phone}}</span>
                </li>
            </ul>
        </div>
        <div class="shipping-info">
            <h4 class="head">Shipping Information</h4>
            <ul>
                <div class="attribute shipping-info">
                    <span class="entypo--address"></span>
                    <span class="text">{{order.shippingAddress}}</span>
                </div>
                <div class="attribute shipping-info">
                    <span class="ic--outline-phone"></span>
                    <span class="text">{{order.shippingPhone}}</span>
                </div>
            </ul>
        </div>
    </div>
    <div class="product">
        <div class="summary">
            <h4 class="head">Summary</h4>
            <div class="summary-item">
                <span class="title">Subtotal</span>
                <span>{{order.products.length}} product</span>
                <span class="price">${{getTotalPrice()}}</span>
            </div>
            <div class="summary-item">
                <span class="title">Total</span>
                <!-- if it have discount and shipping cost, the formular will be re-caculated -->
                <span class="price">${{getTotalPrice()}}</span>
            </div>
        </div>
        <div class="order-items-container">
            <h4 class="head">Order Items</h4>
            <div class="order-items">
                @for (product of order.products; track $index) {
                    <div class="order-item">
                        <div class="order-info">
                            <img src="{{product.avtImg}}" alt="Product Image">
                            <div class="order-detail">
                                <span class="product-name">{{product.name}}</span>
                                <span class="product-quantity">Quantity: {{product.quantity}}</span>
                                <span class="cost">Price: ${{product.price}}</span>
                            </div>   
                        </div>
                        <div class="total-cost">Total Cost: <span>${{product.quantity*product.price}}</span></div>
                    </div>
                }
        </div>
    </div>
</div>
