<div class="form-group category">
    <label for="exampleInputPassword1">Category Product</label>
    <button class="button-category" (click)="showCategories()">
        <p>Select Category</p>
        <span class="material-symbols--edit-outline"></span>
    </button>
</div>

<div id="category_board" class="category_board">
    <div class="category-header">Categories</div>
    <div class="category-search">
        <span class="iconamoon--search-light"></span>
        <input id="search-input" type="text" (keydown.enter)="loadCategories()" [(ngModel)]="searchString"
            name="searchString" placeholder="Search Here!">
    </div>
    <div class="category-body">
        <div class="category-group">
            <div class="category-item-list">
                <div class="category-item">
                    <div class="category-item-name" >Category</div>
                    <span class="weui--arrow-outlined"></span>
                </div>
                <div class="category-item">
                    <div class="category-item-name">Category</div>
                    <span class="weui--arrow-outlined"></span>
                </div>
            </div>
        </div>
        <div class="category-group">
            <div class="separator"></div>
            <div class="category-item-list">
                <div class="category-item">
                    <div class="category-item-name" >Category</div>
                    <span class="weui--arrow-outlined"></span>
                </div>
                <div class="category-item">
                    <div class="category-item-name">Category</div>
                </div>
            </div>
        </div>
        <div class="category-group">
            <div class="separator"></div>
        </div>
        <div class="category-group">
            <div class="separator"></div>
        </div>
    </div>
</div>