<div class="curtain" id="curtain"></div>

<div class="form-group category">
    <label for="exampleInputPassword1">Category Product</label>
    <button class="button-category" [disabled]="isDetail" (click)="showCategories()">
        <p>Select Category</p>
        <span class="material-symbols--edit-outline"></span>
    </button>
</div>

<div id="category_board" class="category_board">
    <div class="category-header">
        <span class="material-symbols--close" (click)="hideCategories()"></span>
        <div >Categories</div>
    </div>

    <div class="category-body">
        <div class="category-list">
            <div class="category-group" id="group-1">
                <div class="category-item-list">
                    @for (category of categoryMap.get(1); track $index) {
                        @if (category.isNext){
                            <div class="category-item button" (click)="loadSubCategories($event,category,2)">
                                <div class="category-item-name" >{{ category.name }}</div>
                                <span class="weui--arrow-outlined"></span>
                            </div>
                        } @else {
                            <div class="category-item" (click)="setCurrentCategory($event,category,1)" >
                                <div class="category-item-name">{{ category.name }}</div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="category-group" id="group-2">
                <div class="separator"></div>
                <div class="category-item-list">
                    @for (category of categoryMap.get(2); track $index) {
                        @if (category.isNext){
                            <div class="category-item button" (click)="loadSubCategories($event,category,3)">
                                <div class="category-item-name" >{{ category.name }}</div>
                                <span class="weui--arrow-outlined"></span>
                            </div>
                        } @else {
                            <div class="category-item" (click)="setCurrentCategory($event,category,2)">
                                <div class="category-item-name">{{ category.name }}</div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="category-group" id="group-3">
                <div class="separator"></div>
                <div class="category-item-list">
                    @for (category of categoryMap.get(3); track $index) {
                        @if (category.isNext){
                            <div class="category-item button" (click)="loadSubCategories($event, category,4)">
                                <div class="category-item-name" >{{ category.name }}</div>
                                <span class="weui--arrow-outlined"></span>
                            </div>
                        } @else {
                            <div class="category-item" (click)="setCurrentCategory($event,category,3)">
                                <div class="category-item-name">{{ category.name }}</div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="category-group" id="group-4">
                <div class="separator"></div>
                <div class="category-item-list">
                    @for (category of categoryMap.get(4); track $index) {
                        <div class="category-item" (click)="setCurrentCategory($event,category,4)">
                            <div class="category-item-name">{{ category.name }}</div>
                        </div>   
                    }
                </div>
            </div>
        </div>
        <button class="save-category" (click)="saveCategory()">Save</button>
        
    </div>
</div>