<div class="container-fluid">
  <div class="header">
    <div class="top-header">
      <a class="left-chanel" (click)="redirectToShop()" >Shop's Owner Chanel</a>
      <div class="right">
        @if (role != null && role.includes('Admin')){
          <a href="/admin" class="notification right-item" >Admin</a>
        }
        <a [routerLink]="['purchase']" [queryParams]="{userId: userId}" class="notification right-item" >Purchases</a>
        @if (tokenSVC.isAuthenicated()){
          <a class="logout right-item" (click)="signOut()" >Sign Out</a>
        } @else {
          <a class="register right-item" href="auth/register" >Sign Up</a>
          <a class="login right-item" href="auth/login" >Sign In</a>
        }
      </div>
    </div>
    <div class="bottom-header">

      @if (url === '/'){
        <a class="logo" href="/" >
          <img src="/assets/img/shopping_logo.jpg" alt="">
          <h3>TRANS</h3>
        </a>
      } @else {
        <a class="logo" routerLink="/" >
          <img src="/assets/img/shopping_logo.jpg" alt="">
          <h3>TRANS</h3>
        </a>
      }
      <div class="search">
        <div class="search-bar">
          <input type="text" (input)="debounce($event)" [(ngModel)]="searchString" (keydown.enter)="searchProduct()" placeholder="Search for products" >
          <span class="iconamoon--search-light"></span>
        </div>
        <ul id="suggestions" class="suggestions">
          @for (suggestion of suggestions; track $index) {
          <li (click)="searchProduct(suggestion.name)">{{suggestion.name}}</li>
        }
        </ul>
      </div>
     
      <a routerLink="/carts" class="cart">
        <p class="cart-number">{{ cartNum }}</p>
        <span class="mdi--cart-outline"></span>
      </a>
    </div>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
  <div class="footer"></div>
</div>