@import url(../../../icon.min.scss);

@keyframes showMessage {
    0%{
        opacity: 0;
    }

    30%{
        opacity: 1;
    }

    70%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.show-message{
    display: flex !important;
    animation: showMessage 2s ease-in-out forwards;
}

.hide-message{
    display: none !important;
}

.message-box{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    display: flex;
    width: 17rem;
    height: 10rem;
    justify-content: space-between;
    border-radius: 0.5rem;
    display: none;
    z-index: 10000;

    .message{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);

        .message-text{
            padding-top: 0.9rem;
        }

        #message-icon{
            width: 3rem;
            height: 3rem;
        }

    }

    .close{
        font-size: large;
        width: 2rem;
        height: 2rem;
        color: rgb(203, 13, 13);
        text-align: end;
        cursor: pointer;
    }
}

.success{
    background-color: green;
    color: rgb(137, 206, 34);
}

.fail{
    background-color: rgb(33, 5, 5);
    color: rgb(255, 0, 0);
}
