<div class="order-management-container">
    <div class="tool">
        <div class="search-bar">
            <span class="iconamoon--search-light"></span>
            <span>abcs</span>
            <input (keyup.enter)="search()" [(ngModel)]="searchString" type="text" placeholder="Searching Here!">
        </div>
        <button (click)="saveStatus()" class="save-status">
            <span class="fluent--status-20-regular"></span>
            <span class="save-status-text">Save Status</span>
        </button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Customer</th>
                <th>Payment</th>
                <th>Product</th>
                <th>Created At</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @for (order of orders; track order.orderId) {
                <tr [routerLink]="['.', order.orderId]" [queryParams]="{ status_id: statusId }" class="order-item">
                    <td>#{{order.orderId}}</td>
                    <td>{{order.customerEmail}}</td>
                    <td>{{order.payment}}</td>
                    <td>{{order.productNames}}</td>
                    <td>{{order.createAt | date:'MM/dd/yyyy'}}</td>
                    <td class="status">
                        <button id="status-{{order.orderId}}" (click)="changeStatus($event, order.orderStatusName, order.orderId)" class="status-btn {{getStatusClass(order.orderId)}}" [ngClass]="{'change': isStatusChanged(order.orderId) }" >{{isStatusChanged(order.orderId) ? getNewStatus(order.orderId) : order.orderStatusName}}</button>
                        <div class="select-status">
                            <span class="connector"></span>
                            <span class="material-symbols--close" (click)="hideSelectStatus($event)"></span>
                            <div class="header">Status</div>
                            <div class="status-item">
                                @for (item of statuses; track $index) {
                                    <div (click)="setNewStatus($event, order.orderId, item.orderStatusId, item.statusName)" class="status-item-content {{item.statusName.toLocaleLowerCase()}}">{{item.statusName}}</div>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (orders.length !== 0) {
        <div class="pagination">
            <app-pagination [pageIndex]="pageIndex" [limit]="pageSize" [totalItem]="totalItem"
                (page)="loadPage($event)"></app-pagination>
        </div>
    } @else {
        <div style="font-size: 1.8; opacity: 0.5;" class="text-center mt-3">Not Found Order</div>
    }

</div>
