@import url(../share.scss);
$background-color: #0d0d0d;

.container{
    display: flex;
    flex-direction: column;

    .table-box{
        width: 100%;
        height: 65vh;
        overflow-y: scroll;
    }
}

.title{
    text-align: center;
    margin-block: 1rem;
}

.tool{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .search-bar{
        width: 30%;
        height: 3rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #E4D016;
        border-radius: 10rem;

        span{
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.2rem;
            color: #E4D016;
        }

        input{
            width: 90%;
            background-color: $background-color;
            border: none;
            -webkit-text-fill-color: white;
            -webkit-box-shadow: 0 0 0px 1000px #000 inset;
            outline-color: red;
        }

        input:focus{
            border: none;
            outline: none;
            border-bottom: 1px #696864 solid;
        }

    }

}

.active{
    cursor: pointer;
    width: 2.5rem;

    .status{
        width: 100%;
        height: 1rem;
        border-radius: 0.5rem;

        @keyframes translate-forward {
            0%{
                transform: translateX(0) translateY(-18%);
            }
            100%{
                transform: translateX(1rem) translateY(-18%);
            }
        }

        @keyframes translate-backward {
            0%{
                transform: translateX(1rem) translateY(-18%);
            }
            100%{
                transform: translateX(0) translateY(-18%);
            }
        }

        .trigger{
            position: relative;
            width: 1.5rem;
            height: 1.5rem;
            border: 1px black solid;
            background-color: aqua;
            border-radius: 0.75rem;
            transform: translateY(-18%);
        }

        .on{
            background-color: rgb(3, 178, 3);
            animation: translate-forward 1s forwards;
        }
        
        .off{
            background-color: gray;
            animation: translate-backward 1s forwards;
        }

    }
    
    .on{
        background-color: rgb(3, 178, 3);
    }
    
    .off{
        background-color: gray;
    }
}

.action{
    border: none;
    border-radius: 0.6rem;
    margin-right: 0.3rem;  
}

app-message{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}