<app-auth-header title={{title}}></app-auth-header>
  <div class="content">
    <div class="row" >
      <div class="left col-6">
        @if (extraErr != null){
          <p class="extra-err">{{extraErr}}</p>
        }
        <p id="otp-wrong-5-times" class="extra-err" >You have entered wrong otp 5 time, please try again later!</p>
        <form #form="ngForm" >
          <div class="container">
            <div class="fullname">
              <input class="input-form" #first="ngModel" type="text" required maxlength="64" name="first" [(ngModel)]="signUpModel.first" placeholder="First" >
              <input class="input-form" #last="ngModel" type="text" required maxlength="64" name="last" [(ngModel)]="signUpModel.last" placeholder="Last" >
            </div>
            @if ((first.invalid && first.touched)||(last.invalid && last.touched)) {
              @if (first.errors?.['required']){
                <p class="extra-err">First is require</p>
              }
              @if (last.errors?.['required']){
                <p class="extra-err">Last is require</p>
              }
            }
            <input class="input-form" type="email" email  required minlength="3" #username="ngModel" name="username" [(ngModel)]="signUpModel.username"  placeholder="Email" >
            @if (username.invalid && username.touched) {
              @if (username.errors?.['required']){
                <p class="extra-err">Email is require</p>
              }
              @if (username.errors?.['email']){
                <p class="extra-err">Please, Enter the Email</p>
              }
            }
            <input class="input-form" type="password" #password="ngModel" required minlength="3" maxlength="64" required name="password" [(ngModel)]="signUpModel.password"  placeholder="Password" >
            @if (password.invalid && password.touched) {
              @if (password.errors?.['required']){
                <p class="extra-err">Passowrd is require</p>
              }
              @if (password.errors?.['minlength']){
                <p class="extra-err">Minlength is 3</p>
              }
            }
            <input class="input-form" type="password" #confirm="ngModel" required name="confirmPassword" [(ngModel)]="signUpModel.confirmPassword"  placeholder="Confirm Password" >
            @if (confirm.invalid && confirm.touched) {
              @if (confirm.errors?.['required']){
                <p class="extra-err">Confirm Password is require</p>
              }
            }
            <input class="input-form" type="tel" #phone="ngModel" phone required name="phoneNumber" [(ngModel)]="signUpModel.phoneNumber"  placeholder="Phone Number" >
            @if (phone.invalid && phone.touched){
              @if (phone.errors?.['required']){
                <p class="extra-err">Phone is require</p>
              }
              @if (phone.errors?.['phone']){
                <p class="extra-err">Please, Enter the Phone</p>
              }
            }
            <input class="input-form" type="text" #address="ngModel" required maxlength="512" required name="address" [(ngModel)]="signUpModel.address"  placeholder="Address" >
            @if (address.invalid && address.touched){
              @if (address.errors?.['required']){
                <p class="extra-err">Address is require</p>
              }
            }

            <a class="addition-link" routerLink="/auth">Have a account? Sign In</a>
            <div class="format-btn">
              @if (!form.valid){
                <button class="submit-btn disabled" type="submit" (click)="signUp()" [disabled]="!form.valid" >Sign Up</button>
              } @else {
                <button class="submit-btn" type="submit" (click)="signUp()" [disabled]="!form.valid" >Sign Up</button>
              }
            </div>
          </div>
          
        </form>
      </div>
      <div class="right col-5">
        <div class="welcome">
          <p class="welcome-title">Welcome To You!</p>
          <p class="welcome-con" >We expect that you will have a best experience while using our platform &lt;3</p>
        </div>
        <div class="external-login">
          <button class="submit-btn google" type="submit" [disabled] >Google</button>
          <button class="submit-btn facebook" type="submit" [disabled] >Facebook</button>
        </div>
      </div>
    </div>
  </div>

  <div id="form-modal" class="form-modal">
    <div class="otp-box">
      <p class="title" >OTP Confirm</p>
      <form class="otp-form" >
        <input id="otp" class="input-form" placeholder="OTP" type="text" #otp="ngModel" required name="otp" [(ngModel)]="signUpModel.verifyCode" >
        @if (verifyFailCount>0){
          <p class="extra-err">Enter wrong otp: {{verifyFailCount}}/5</p>
        }
        <button class="submit-btn" type="submit" (click)="confirmVerify()" [disabled]="!form.valid" >Send OTP</button>
        <a routerLink="/auth/register" (click)="backToRegister()" class="otp-footer">Back To Sign Up</a>
      </form>
    </div>

  </div>
 