  .content{
    margin-bottom: 12vh;
    .row{
      width: 100%;

      .left{
        .extra-err{
          position: relative;
          top: 1.8em;
          text-align: center;
          color: rgb(218, 6, 6);
          font-size: 0.8em;
        }
      }
    }

    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      .input-form{
        width: 75%;
        margin-top: 1rem;
        background-color: #000;
        // border-bottom: solid 1px #fff;
        border: none;
        outline: none;
        border-bottom: 1px solid white;
        color: white;
        -webkit-text-fill-color: white;
        -webkit-box-shadow: 0 0 0px 1000px #000 inset;
      }
  
      .fullname{
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  
        input{
          width: 48%;
        }
      }
  
      .input-form::placeholder{
        color: white;
      }

      .addition-link{
        position: relative;
        top: 0.8em;
        color: #ac72a5;
      }

      .format-btn{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }

    .submit-btn{
      margin: 1.5rem 0.8rem;
      width: 35%;
      font-size: 1.3rem;
      background-color: #000;
      color: #fff;
      border: none;
      font-family: 'Times New Roman', Times, serif;
      border: solid 1px #fff;
      border-radius: 0.5rem;
    }
    .submit-btn:hover{
      background-color: #3b3c3b; 
    }
  
    .submit-btn.disabled:hover{
      background-color: #000;
    }
  
    .submit-btn:active{
      background-color: #707171;
    }
    
    .welcome{
      color: #38F5FF;
      border-bottom: 1px white solid;
      .welcome-title{
        position: relative;
        top: 0.3em;
        background-image: linear-gradient(to right, #C405AE, #38F5FF);
        background-clip: text;
        color: transparent;
        font-size: 2rem;
        text-align: center;
      }
    }

    .external-login{
      display: flex;
      justify-content: center;

      .google{
        background-color: #58201A;
      }

      .facebook{
        background-color: #080848;
      }
    }
  }



  

  