<div class="curtain" (click)="hideBoard()" id="curtain"></div>

<div>
  <div class="images-info" id="images-info">
    <label class="mb-2">Upload Images & Inventories</label>
    <button id="upload-images" (click)="showBoard()" class="btn btn-outline-light upload-images">
      <span class="mage--image-upload"></span>
    </button>
  </div>

  <div id="upload-file-board" class="upload-file-board">
    <span class="material-symbols--close" (click)="hideBoard()"></span>
    <div class="content">
      <div class="header">Images & Inventories</div>
      <div class="body">
        <table class="table table-striped table-dark upload-table">
          <thead>
            <tr>
              <th scope="col" class="w-25">Images</th>
              <th scope="col" class="w-25">Classify</th>
              <th scope="col">Inventory</th>
            </tr>
          </thead>
          <tbody>
            @if (productModel.specAttributes.length > 0){
              @for (specItem of productModel.specAttributes[0].specItems; track $index) {
                <tr>
                  <td>
                    <div class="add-image">
                      <label for="file-input-{{specItem.specValue}}" >
                        <span class="material-symbols-light--upload-rounded"></span>
                        <img class="image-preview" src="" alt="Error">
                      </label>
                      <input (change)="onFileChange($event, specItem.specValue)" type="file" name="" id="file-input-{{specItem.specValue}}">
                    </div>
                  </td>
                  <td>{{specItem.specValue}}</td>
                  <td>
                      <ul style="list-style-type: none;">
                        @for (inventory of productModel.specInventories; track $index) {
                          @if (inventory.primarySpecValueName == specItem.specValue){
                            @if (inventory.subSpecValueName){
                              <li>
                                <div class="spec-arg">
                                  <label class="spec-name">{{inventory.subSpecValueName}}</label>
                                  <input type="number" [(ngModel)]="inventory.inventory" class="inventory-input" aria-describedby="inventory">
                                </div>
                              </li>
                            } @else {
                              <li>
                                <div class="spec-arg">
                                  <label class="spec-name">{{inventory.primarySpecValueName}}</label>
                                  <input type="number" [(ngModel)]="inventory.inventory" class="inventory-input" aria-describedby="inventory">
                                </div>
                              </li>
                            }
                          }
                        }
                      </ul>
                  </td>
                </tr>
              }
            }
            

          </tbody>
        </table>
      </div>
      <button class="save-category" (click)="saveCategory()">Save</button>
    </div>
  </div>
</div>