<app-auth-header title="{{title}}" ></app-auth-header>
<div class="content">
  <div class="row" >
    <div class="col-6 left">
      @if (extraErr){
        <p class="extra-err">{{extraErr}}</p>
      }
      <form #form="ngForm">
        <div class="container mt-3">
          <input class="input-form" type="text" #username="ngModel" required email [(ngModel)]="signInModel.username" name="username" placeholder="Email" >
          @if (username.invalid && username.touched) {
            @if (username.errors?.['required']) {
              <p class="extra-err">The email is required</p>
            }
            @if (username.errors?.['email']){
              <p class="extra-err">Please, Enter the email</p>
            }
          }
          <input class="input-form" type="password" autocomplete="current-password" #password="ngModel" required [(ngModel)]="signInModel.password" name="password" placeholder="Password" >
          @if(password.invalid && password.touched){
            @if(password.errors?.['required']){
              <p class="extra-err">The password is required</p>
            }
          }
          <div class="input-form check" >
            <div>
              <input class="checkbox" [(ngModel)]="isRemember" name="isRemember" id="rememberme" type="checkbox">
              <label class="rememberme" for="rememberme">Remember me?</label>
            </div>
          </div>
          <a routerLink="/auth/forget-password" class="addition-link">Forgot password?</a>
          <a routerLink="/auth/register" class="addition-link">Have not account yet? Sign up</a>
          <div class="format-btn">
            @if (!form.valid){
              <button class="submit-btn disabled" type="submit" (click)="signIn()" [disabled]="!form.valid" >Sign In</button>
            } @else {
              <button class="submit-btn" type="submit" (click)="signIn()" [disabled]="!form.valid" >Sign In</button>
            }
          </div>
        </div>
      </form>
    </div>
    <div class="col-5 right">
      <div class="welcome">
        <p class="welcome-title">Welcome To You!</p>
        <p class="welcome-con" >We expect that you will have a best experience while using our platform &lt;3</p>
      </div>
      <div class="external-login">
        <button class="submit-btn google" type="submit" [disabled] >Google</button>
        <button class="submit-btn facebook" type="submit" [disabled] >Facebook</button>
      </div>
    </div>
  </div>
</div>