<app-auth-header title="{{ title }}"></app-auth-header>
<div class="content">
  <div class="row">
    <div class="col-6 left">
      @if (extraErr){
      <p class="extra-err">{{ extraErr }}</p>
      }
      <p id="otp-wrong-5-times" class="extra-err">
        You have entered wrong otp 5 time, please try again later!
      </p>
      <form #form="ngForm">
        <div class="container mt-3">
          <input
            class="input-form"
            type="text"
            #username="ngModel"
            required
            email
            [(ngModel)]="signInModel.username"
            name="username"
            placeholder="Email"
          />
          @if (username.invalid && username.touched) { @if
          (username.errors?.['required']) {
          <p class="extra-err">The email is required</p>
          } @if (username.errors?.['email']){
          <p class="extra-err">Please, Enter the email</p>
          } }
          <input
            class="input-form"
            type="password"
            autocomplete="current-password"
            #password="ngModel"
            required
            minlength="3"
            [(ngModel)]="signInModel.password"
            name="password"
            placeholder="Password"
          />
          @if(password.invalid && password.touched){
          @if(password.errors?.['required']){
          <p class="extra-err">The password is required</p>
          } @if(password.errors?.['minlength']){
          <p class="extra-err">Min Length is 3</p>
          } }
          <a (click)="showForgotPassword()" class="addition-link"
            >Forgot password?</a
          >
          <a routerLink="/auth/register" class="addition-link"
            >Have not account yet? Sign up</a
          >
          <div class="format-btn">
            @if (!form.valid){
            <button
              class="submit-btn disabled"
              type="submit"
              (click)="signIn()"
              [disabled]="!form.valid"
            >
              Sign In
            </button>
            } @else {
            <button
              class="submit-btn"
              type="submit"
              (click)="signIn()"
              [disabled]="!form.valid"
            >
              Sign In
            </button>
            }
          </div>
        </div>
      </form>
    </div>
    <div class="col-5 right">
      <div class="welcome">
        <p class="welcome-title">Welcome To You Again!</p>
        <p class="welcome-con">
          We expect that you will have a best experience while using our
          platform &lt;3
        </p>
      </div>
      <div class="external-login">
        <button class="submit-btn google" type="submit" [disabled]>
          Google
        </button>
        <button class="submit-btn facebook" type="submit" [disabled]>
          Facebook
        </button>
      </div>
    </div>
  </div>
</div>

<div id="form-modal" class="form-modal">
  <div class="verify-box">
    <div id="forgot-password">
      <p class="title">Forgot Password</p>
      <form #formFogot="ngForm" class="verify-form">
        <input
          id="email"
          class="input-form"
          type="email"
          required
          email
          #forgotPassword="ngModel"
          required
          name="verify"
          [(ngModel)]="forgotPasswordModel.email"
          placeholder="Email"
        />
        @if (forgotFailErr){
        <p class="extra-err">{{ forgotFailErr }}</p>
        } @if (forgotPassword.invalid && forgotPassword.touched){ 
          @if
        (forgotPassword.errors?.["required"]){
        <p class="extra-err">Email is Required</p>
        } @if (forgotPassword.errors?.["email"]){
        <p class="extra-err">Please, Enter your email</p>
        } }
        <button
          class="submit-btn"
          type="submit"
          (click)="recoveryPassword()"
          [disabled]="!formFogot.valid"
        >
          Verify Email
        </button>
        <a
          routerLink="/auth/login"
          (click)="backToRegister()"
          class="verify-footer"
          >Back To Sign In</a
        >
      </form>
    </div>

    <div id="verify-confirm">
      <p class="title">Verify Code Confirm</p>
      <form #formVerify="ngForm" class="verify-form">
        <label for="verify">Verify Code</label>
        <input
          id="verify"
          class="input-form"
          type="text"
          #verify="ngModel"
          required
          name="verify"
          [(ngModel)]="forgotPasswordModel.verifyCode"
        />
        @if (verify.invalid && verify.touched){ @if
        (verify.errors?.["required"]){
        <p class="extra-err">Verify Code is Required</p>
        } } @if (verifyFailCount>0){
        <p class="extra-err">
          Enter wrong verify code: {{ verifyFailCount }}/5
        </p>
        }
        <button
          class="submit-btn"
          type="submit"
          (click)="confirmVerifyCode()"
          [disabled]="!formVerify.valid"
        >
          Send Verify Code
        </button>
        <a
          routerLink="/auth/register"
          (click)="backToRegister()"
          class="verify-footer"
          >Back To Sign Up</a
        >
      </form>
    </div>
  </div>
</div>
