
<div class="select-tag">
    <label for="">Select Warehouse</label>
    <button [disabled]="isDisabled" class="select-button" (click)="showSelectBoard($event)" >
        <input type="text" [(ngModel)]="selectValue" placeholder="Select Warehouse">
        <span class="icon-park-outline--down"></span>
    </button>
    <ul class="dropdown-board" id="dropdown-board" >
        @for (item of items; track $index) {
            <li (click)="setValue(item)">{{item.name}}</li>
        }
    </ul>
</div>


