<div class="order-container">
    <div class="header">
        <h3>Orders Management</h3>
    </div>
    <div class="body">
        <div class="body-header">
            <div class="header-label">
                <a routerLink="." (click)="navigateAnotherStatus($event,null)" class="label header-active">All Orders</a>
                @for (status of statuses; track $index) {
                    <a routerLink="." (click)="navigateAnotherStatus($event, status.orderStatusId)" class="label">{{ status.statusName }}</a>
                }
            </div>
        </div>
        <div class="body-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
