@import url('../../../icon.component.scss');

.body{
    background-color: black !important;
    height: 100vh;
}
    
.hugeicons--file-not-found{
    width: 10rem;
    height: 10rem;
    color: rgb(164, 23, 23);
}