<div class="buy-product-container">
    <div class="customer-info">
        <p class="title">Customer Information</p>
        <div class="form">
            <div class="user-personal">
                <div class="form-field">
                    <label for="email">Email</label>
                    <input type="text" email name="" id="email" placeholder="abc@xyz.com">
                </div>
                <div class="form-field">
                    <label for="email">Phone</label>
                    <input type="text" phone name="" id="phone" placeholder="xxx-xxx-xxxx">
                </div>
            </div>
            <app-select-address></app-select-address>
        </div>
    </div>

    <div class="products-info">
        <div class="product">
            <div class="product-info">
                <img src="/assets/img/luoi.jpg" alt="">
                <div class="product-details">
                    <p class="product-name">Product Name</p>
                    <p class="product-quantity">Quantity: 1</p>
                    <div class="cost">
                        <p class="product-price">Price: $100</p>
                        <p class="product-shipping-cost">Shipping Cost: $1</p>
                    </div>
                </div>
            </div>
            <div class="total-cost">Total Cost: 101$</div>
        </div>
    </div>

</div>
